@import "tailwindcss";

:root {
  --background: #f0f0f0;
  --foreground: #171717;
  --text-color: #1e3b5c;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-congress-blue-50: #f3f7fc;
  --color-congress-blue-100: #e6eef8;
  --color-congress-blue-200: #c6dbf1;
  --color-congress-blue-300: #94bee5;
  --color-congress-blue-400: #5b9bd5;
  --color-congress-blue-500: #3680c1;
  --color-congress-blue-600: #2664a3;
  --color-congress-blue-700: #1e4b7b;
  --color-congress-blue-800: #1e456e;
  --color-congress-blue-900: #1e3b5c;
  --color-congress-blue-950: #14263d;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

html {
  overscroll-behavior: none;
}

body {
  background: var(--background);
  /* color: var(--foreground); */
  color: var(--text-color);
  font-family: Poppins, Arial, Helvetica, sans-serif;
}

div[data-tooltip]:not([data-tooltip=""])::after {
  content: attr(data-tooltip);
  position: absolute;
  top: calc(100% + 6px);
  left: 50%;
  transform: translateX(-50%);
  transition: opacity 0.3s ease;
  background: var(--background);
  border: solid 1px var(--color-congress-blue-900);
  opacity: 0;
  pointer-events: none;
  white-space: nowrap;
  /* overflow: hidden;
  text-overflow: ellipsis; */
  font-size: 12px;
  padding: 4px 8px;
  border-radius: 20px;
}

div[data-tooltip]:not([data-tooltip=""]):hover::after {
  opacity: 1;
}

@utility scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}

@utility scrollbar-thin {
  scrollbar-width: thin;
  &::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  &::-webkit-scrollbar-track {
    background: transparent;
  }
  &::-webkit-scrollbar-thumb {
    background: theme(colors.gray.300);
    border-radius: 3px;
    &:hover {
      background: theme(colors.gray.400);
    }
  }
}

@utility scrollbar-custom {
  &::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
  &::-webkit-scrollbar-track {
    background: theme(colors.gray.100);
    border-radius: 4px;
  }
  &::-webkit-scrollbar-thumb {
    background: theme(colors.blue.500);
    border-radius: 4px;
    &:hover {
      background: theme(colors.blue.600);
    }
  }
  &::-webkit-scrollbar-corner {
    background: theme(colors.gray.100);
  }
}

@utility scrollbar-dark {
  &::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
  &::-webkit-scrollbar-track {
    background: theme(colors.gray.800);
    border-radius: 4px;
  }
  &::-webkit-scrollbar-thumb {
    background: theme(colors.gray.600);
    border-radius: 4px;
    &:hover {
      background: theme(colors.gray.500);
    }
  }
}
